<a href="https://colab.research.google.com/github/Yassin-Latif/M111-Advanced-Python-and-Database-Management/blob/main/Solution_Datatypes_exrcices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datatypes exercises

## Exercise 1

Write the following mathematical formula in Python:

\begin{align}
 result = 6a^3 - \frac{8b^2 }{4c} + 11
\end{align}

```python
a = 2
b = 3
c = 2
```

> write your formula as 
```python
result = 
```

It must verify
```python
>>> assert result == 50

In [ ]:
a = 2
b = 3
c = 2
result = 6 * a**(3) - (8 * b**(2) / (4 * c)) + 11
assert result == 50

## Exercise 2

Explain why the folowing assertion fails

In [ ]:
assert (0.1 + 0.2 == 0.3) # will cause assertion error

AssertionError: ignored

## Why the assertion fails
* The computer uses base-2 floating-point number whereas we use 
base-10 floating-point numbers.
* In binary, decimal numbers cannot represent all decimals precisely and have infinite representations.
* So computers can not accurately represent numbers like 0.1, 0.2 or 0.3 at all as it uses binary floating-point format.

## Exercise 3

Write a Python program to sum all the items in a list

In [ ]:
def sum_list(L):
  S = 0
  for i in range(len(L)):
    S = S + L[i]
  return S
L = [10, 20, -1]
assert sum_list(L) == 29

## Exercise 4

Write a program that asks how long it took to run 10 km today. The program continues to ask how long (in minutes) it took for additional runs, until the user enters q. At that point, the program exits â€” but only after calculating and displaying the average time that the 10 km run took.  


Example:
```
Enter 10 km run time: 15
Enter 10 km run time: 20
Enter 10 km run time: 10
Enter 10 km run time: q

Average of 15.0, over 3 runs
```

In [ ]:
def average_10km(n):
  L = []
  for i in range(n):
    a = input("Enter 10 km eun time : ")
    if a != "q":
      L.append(a)
      new_L = [eval(j) for j in L]
      A = sum_list(new_L) / len(new_L)
    else :
      break
  return print("Average of ", A ,", over ", i, " runs" )

In [ ]:
average_10km(1500)

Enter 10 km eun time : 15
Enter 10 km eun time : 20
Enter 10 km eun time : 10
Enter 10 km eun time : q
Average of  15.0 , over  3  runs

## Exercise 5

Write a function that takes a string and returns the sorted string.

In [ ]:
def sort_string(s):
    sorted_s = sorted(s)
    sorted_s = ''.join(sorted_s)
    return sorted_s

assert sort_string("cab") == "abc"

In [ ]:
def sort_string_2(s):
  Alpha = 'abcdefghijklmnopqrstuvwxyz'
  i = 0
  
  while i < (len(s)):
    if s[i] in Alpha:
      print (s[i])
      i = i + 1

In [ ]:
def sort_string_3(s):
  S = list(s)
  for i in range(len(S)-1, 0, -1):
    for j in range(0, i):
      if S[j] > S[j+1]:
        t = S[j]
        S[j] = S[j+1]
        S[j+1] = t
        res = ''.join(S)
  return res

assert sort_string_3("cab") == "abc"

In [ ]:
sort_string_3("fdba")

'abdf'

## Exercise 6

Write a function that take a string of multiple words and returns the position of the word with most repeated letters

In [ ]:
'''def repeated_letters_1(s):
  S = list(s)
  count = 1
  for i in range(len(S)) :
    for j in range(i+1, len(S)):
      if S[i] == S[j]:
        print(S[i], S[j])
      return count 
'''
def repeated_letters(s):
  C = []
  for i in set(s):
    C.append(s.count(i))
  return max(C)

def wwmrl(L):
  Max = 0
  A = []
  for i in range(len(L)):
    A.append(repeated_letters(L[i]))
    Max = max(A)
  return A.index(max(A)) 
      
assert wwmrl(['this', 'is', 'an', 'elementary', 'test', 'example']) == 3

## Exercise 7

1. Create a tuple
2. Unpack the tuple in multiple variables

In [ ]:
(x,y) = (10,20)

## Exercise 8

Write a Python program to sort a tuple by its float element.  
Sample data: `[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]`  
Expected Output: `[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]`

In [ ]:
L = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
B = []
B_sort = []
Max = 0
for i in range(len(L)):
  B.append(eval(L[i][1]))
  if B[i] > Max:
    Max = i
    i = i - 1
    print(i)
B_sort.append(B[Max])

print(B_sort)

-1
0
1
[24.5]

In [ ]:
L = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
L.sort(reverse = True)
print(L)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

## Exercise 9

Write a Python script to concatenate dictionaries to create a new one.

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

res = {**dic1, **dic2, **dic3}

print("Expected Result : ", res)

Expected Result :  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

## Exercise 10

Write a Python program to combine two dictionary adding values for common keys.

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
""""Sample output: {'a': 400, 'b': 400, 'd': 400, 'c': 300}"""
def add_if_key_not_exist(dict_obj, key, value):
    if key not in dict_obj:
      dict_obj.update({key: value})

def Concatenation(dict1, dict2):
  res = {}
  S = 0
  for key_1 in dict1:
    for key_2 in dict2:
      if(key_1 == key_2):
        S = dict1[key_1] + dict2[key_2]
        res.update({key_1: S})
      add_if_key_not_exist(res, key_1, dict1[key_1])
      add_if_key_not_exist(res, key_2, dict2[key_2])
  return res
  
Concatenation(d1, d2)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
def add_if_key_not_exist(dict_obj, key, value):
    if key not in dict_obj:
      dict_obj.update({key: value})
add_if_key_not_exist(d1, 'h', 250)
print(d1)

{'a': 100, 'b': 200, 'c': 300, 'h': 250}

## Exercise 11

Write a Python program to extract values from a given dictionaries and create a list of lists from those values.

Original Dictionary:  
`[{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]`  
Output:  
`[[1, 'Jean Castro', 'V'], [2, 'Lula Powell', 'V'], [3, 'Brian Howell', 'VI'], [4, 'Lynne Foster', 'VI'], [5, 'Zachary Simon', 'VII']]`

In [ ]:
data = [{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]

In [ ]:
L = []
for i in range(len(data)):
  L.append(list(data[i].values()))
print(L)

[[1, 'Jean Castro', 'V'], [2, 'Lula Powell', 'V'], [3, 'Brian Howell', 'VI'], [4, 'Lynne Foster', 'VI'], [5, 'Zachary Simon', 'VII']]